spring:
  application:
    name: Gateway

server:
  port: ${SERVER_PORT:8080}

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    root: ${LOG_LEVEL:INFO}