spring:
  application:
    name: Gateway
  profiles:
    active: dev
  cloud:
    gateway:
      routes:
        - id: GithubConnectorService
          uri: http://localhost:8082
          predicates:
            - Path=/api/github/**
  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: gateway-client
            client-secret: ${KEYCLOAK_SECRET}
            scope:
              - openid
              - profile
              - email
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
        provider:
          keycloak:
            issuer-uri: http://localhost:8091/realms/code-audit-engine
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8091/realms/code-audit-engine


server:
  port: ${SERVER_PORT:8080}
management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    root: ${LOG_LEVEL:INFO}