spring:
  application:
    name: GithubConnector

server:
  port: ${SERVER_PORT:8081}

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health

logging:
  level:
    root: ${LOG_LEVEL:INFO}
